@font-face {
    font-family: 'keyboard';
    src: url('fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
